<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a href="/admin/booking" class="btn btn-warning btn-sm">Back</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img
          src="http://localhost:4000/<%= booking.payments.proofPayment %>"
          style="width: 100%; display: block; border: 1px solid #e5e5e5;"
        />
        <% if (booking.payments.status == 'Proses') { %>
        <div class="row mt-4">
          <div class="col-6">
            <form
              action="/admin/booking/<%= booking.id %>/confirmation?_method=PUT"
              method="post"
            >
              <button type="submit" class="btn btn-success btn-sm btn-block">
                <i class="fas fa-check"></i> Confirmation
              </button>
            </form>
          </div>
          <div class="col-6">
            <form
              action="/admin/booking/<%= booking.id %>/reject?_method=PUT"
              method="post"
            >
              <button type="submit" class="btn btn-danger btn-sm btn-block">
                <i class="fas fa-times"></i> Reject
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <div class="col-8">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Name Member</th>
                <th>Total</th>
                <th>Bank From</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= booking.memberId.firstName %> <%=
                  booking.memberId.lastName %>
                </td>
                <td>$ <%= booking.total %></td>
                <td><%= booking.payments.bankFrom %></td>
                <td><%= booking.itemId.title %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
