<div
  class="tab-pane fade show active"
  id="edit-item"
  role="tabpanel"
  aria-labelledby="edit-tab"
>
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <form action="/admin/item/<%= item.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="<%= item.title %>"
            placeholder="Title"
            required
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            value="<%= item.price %>"
            placeholder="Price"
            required
          />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            value="<%= item.city %>"
            placeholder="City"
            required
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" name="categoryId" id="category">
            <option value="">--- Category ---</option>
            <% category.forEach(data => { %>
            <option value="<%= data.id %>" <% if (item.categoryId._id == data.id) { %>
              selected <% } %> ><%= data.name %></option
            >
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="file"
            class="form-control-file"
            id="image"
            name="image"
            multiple
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" id="description">
            <%= item.description %>
          </textarea>
        </div>
        <a href="/admin/item" class="btn btn-warning mr-2">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
